@charset "utf-8";

/* header */
.header	{
	display: flex;
	align-items: center;
	height: 80px;
	padding: 0 1rem;
}

/* search */
.search_box {
	display: flex;
	width: 300px;
	height: 40px;
	max-width: 60%;
	margin-left: auto;
	margin-right: 3rem;
}
.search_box input[type="search"] {
	flex: 1;
	min-width: 0;
	margin-right: 10px;
	border: 0;
	border-radius: 0.3em;
	font-size: 1rem;
}
.search_box .btn_search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.3em;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-color: #011F26;
}

/* menu */
.menu {
	display: flex;
}
.menu .menu-item {
	width: 25%;
	background: #F2A7B5;
	transition: 0.5s;
}
.menu .menu-item:hover {
	width: 35%;
	background: crimson;
}
.menu .menu-item .menu-link {
	display: block;
	padding: 1em;
	font-size: 1.2rem;
	font-weight: bold;
	color: #555;
	text-decoration: none;
	text-align: center;
}
.menu .menu-item .menu-link:hover {
	color: white;
}

.primary {
	padding: 1rem;
}

/* card list */
.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  gap: 1%;
}
.card-item {
	margin-bottom: 2rem;
  background-color: #fff;
}
.card-image {
	height: 0;
	padding-bottom: 60%;
  background: lightgray no-repeat url('images/ocean.jpg') 50% 50%;
	background-size: cover;
}
.card-desc {
	padding: 1em;
	background: white;
}

.secondary {
	padding: 1rem;
}

/* list */
.info-list {
	margin-bottom: 2rem;
}
.info-list-item {
	display: flex;
	margin: 0.5em 0;
}
.info-list-item:before {
	content: "✦";
	margin-right: 0.5em;
}

.secondary-a {
	background: white;
}

/* friend list */
.friend-item {
	align-items: center;
}
.user-name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.secondary-b {
	color: white;
	background: #011F26;
}

/* message */
.user-list {
	margin-bottom: 2rem;
}
.user-item {
	display: flex;
	margin-bottom: 1.5em;
}
.user-photo {
	flex-shrink: 0;
	width: 30px;
	height: 30px;
	margin-right: 0.5em;
	border: 2px solid #333;
	border-radius: 50%;
  background: gold url('images/profile.png') no-repeat 50% 0;
	background-size: cover;
}

.footer {
	padding: 1rem;
	border-top: 1px solid lightgray;
	text-align: center;
}

.modal {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 80px;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
}
#modal-switch:checked ~ .modal {
	display: flex;
}
label[for="modal-switch"] {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 1.3rem;
	right: 1rem;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
label[for="modal-switch"]:before {
	content: "⚑";
	font-size: 2rem;
	cursor: pointer;
}
#modal-switch:checked ~ label[for="modal-switch"]:before {
	color: dodgerblue;
}
#modal-switch,
label[for="modal-switch"] span {
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 1px;
	height: 1px;
	opacity: 0;
}

.dialog {
	width: 50vw;
  max-width: 500px;
	padding: 2em;
	border-radius: 1em;
	background: white;
}

@media (min-width: 1024px) {
	.page {
		display: grid;
		grid-template-columns: 20% 1fr 20%;
		grid-template-areas:
			"  header    header    header   "
			"   menu      menu      menu    "
			"secondary-a primary secondary-b"
			"  footer    footer    footer   ";
	}
	.header {
		grid-area: header;
	}
	.menu {
		grid-area: menu;
	}
	.primary {
		grid-area: primary;
	}
	.secondary-a {
		grid-area: secondary-a;
	}
	.secondary-b {
		grid-area: secondary-b;
	}
	.footer {
		grid-area: footer;
	}
}

@media (min-width: 1400px) {
	.page {
		grid-template-columns: 300px 1fr 300px;
	}
}